<div class="row rounded">
    <div class="col-md-12">
        <!-----------------------------new-------------------------->
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header border-bottom-0 pl-0" id="headingOne" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    <h6 class="mb-0 d-flex">
                        <button class="btn btn-link text-dark txt-dec map-loc-head" type="button">Guest Details</button>
                        <img src="https://oxfordcaps.liveabuzz.com/assets-website/images/bluedwn-arrow.png" class="align-self-center ml-auto" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">
                    </h6>
                </div>
                <div id="collapse1" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body py-0">
                        <div class="table-responsive">
                            <table *ngIf="guests.length!=0" id="upcommingbooking" class="table table-striped table-bordered dt-responsive nowrap table-sm" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Booking ID</th>
                                        <th>Guest Name</th>
                                        <th *ngIf="!canaddguest">Bed Number</th>
                                        <th>Bed Type</th>
                                        <th *ngIf="canaddguest">Action</th>
                                    </tr>
                                </thead>
                
                                <tbody *ngIf="canaddguest">
                                    <tr *ngFor="let guest of guests; index as i">
                                        <td>{{guest.bookingId}}</td>
                                        <td *ngIf="(guest.bookingStatus=='0' || guest.bookingStatus=='7')">
                                            <select class="form-control"  #selectGuest (change)='onOptionsSelected(selectGuest.value)' >
                                                <option value="">Select Guest</option>
                                                <option *ngFor="let userContact of userContacts "  [selected]="guest.contactId == userContact.id ? true : null" value="{{userContact.id}}" >{{userContact.name}}</option>
                                            </select>
                                        </td>
                                        <td>{{guest.bedTypeName}}</td>
                                        <td >
                                            <button *ngIf="(guest.bookingStatus=='0' || guest.bookingStatus=='7')" type="button" (click)="attachtobooking(guest)" class="btn btn-primary mr-1">Attach to Booking</button>
                                            <button *ngIf="guest.bookingStatus=='0' || guest.bookingStatus=='7'" type="button" (click)="cancelBooking(guest)" class="btn btn-primary">Cancel Booking</button>
                                        </td>
                                        
                                       
                                    </tr>
                                </tbody>
                
                                <tbody *ngIf="!canaddguest">
                                    <tr *ngFor="let guest of guests; index as i">
                                        <td>097645324453-{{i+1}}</td>
                                        <td>{{guest.name}}</td>
                                        <td>{{guest.bedNumber}}</td>
                                        <td>{{guest.bedTypeName}}</td>
                                    </tr>
                                </tbody>
                
                            </table>
                            <div *ngIf="guests.length==0" class="text-center">
                                <h2 class="my-1 text-muted">No Guest Present.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------------payment Details----------------------->
            <div class="card">
                <div class="card-header border-bottom-0 pl-0" id="headingTwo" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    <h6 class="mb-0 d-flex">
                        <button class="btn btn-link text-dark txt-dec map-loc-head" type="button">Payment Details</button>
                        <img src="https://oxfordcaps.liveabuzz.com/assets-website/images/bluedwn-arrow.png" class="align-self-center ml-auto" data-toggle="collapse" data-target="#collapse2" aria-expanded="true">
                    </h6>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionExample">
                    <div class="card-body py-0">
                        <div class="table-responsive">
            
                            <table *ngIf="payments?.length!=0" id="paymentListDetails" class="table table-striped table-bordered dt-responsive nowrap table-sm" style="width:100%">
                               <thead>
                                   <tr>
                                       <th>Transaction ID</th>
                                       <th>Date</th>
                                       <th>Amount</th>
                                       <th>Payment Status</th>
                                       <th>Invoice</th>
                                   </tr>
                               </thead>
               
                               <tbody >
                                    <!-- <tr *ngFor="let in of counter(this.bedCount) ;let i = index">  -->
                                   <tr *ngFor="let payment of payments; index as i">
                                       <td>{{payment.transactionId}}</td>
                                       <td>{{payment.responseDateTime | date: 'MMM d, y'}}</td>
                                       <td>{{payment.paidAmount | currency}}</td>
                                       <td class="text-center">
                                           <span class="badge rounded-pill text-white" [ngSwitch]="payment?.paymentStatus">
                                               <strong style="font-size: larger" class="badge badge-warning" *ngSwitchCase='0'>Pending</strong>
                                               <strong style="font-size: larger" class="badge badge-success" *ngSwitchCase='1'>Success</strong>
                                               <strong style="font-size: larger" class="badge badge-warning" *ngSwitchCase='2'>Cancel</strong>
                                               <strong style="font-size: larger"class="badge badge-danger" *ngSwitchCase='3'>Expired</strong>
                                               <strong style="font-size: larger" class="badge badge-danger" *ngSwitchCase='4'>Fail</strong>
                                               <strong style="font-size: larger" class="badge badge-danger" *ngSwitchCase='5'>Duplicate</strong>
                                               <strong style="font-size: larger" class="badge badge-danger" *ngSwitchCase='6'>Rejected</strong>
                                               <strong style="font-size: larger" class="badge badge-warning" *ngSwitchCase='7'>Unconfirmed</strong>
                                               <strong style="font-size: larger" class="badge badge-warning" *ngSwitchDefault>Fail</strong>
                                           </span>
                                       </td>
                                       <td ><button *ngIf="payment?.paymentStatus=='1'" type="button" (click)="goToLink(payment)" class="btn btn-primary"><img src="../../../../assets/customimage/download.png" class="img-fluid"></button></td>
                                       
                                      
                                   </tr>
                               </tbody>
               
                           </table> 
                           <div *ngIf="payments?.length==0" class="text-center">
                               <h2 class="my-1 text-muted">No Payments Present.</h2>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
            <!---------------------------//payments Details-------------------->
        </div>
        <!-----------------------------//new------------------------>
        <!-- <div class="table-responsive">
            <table *ngIf="guests.length!=0" id="upcommingbooking" class="table table-striped table-bordered dt-responsive nowrap table-sm" style="width:100%">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Guest Name</th>
                        <th *ngIf="!canaddguest">Bed Number</th>
                        <th>Bed Type</th>
                        <th *ngIf="canaddguest">Action</th>
                    </tr>
                </thead>

                <tbody *ngIf="canaddguest">
                    <tr *ngFor="let guest of guests; index as i">
                        <td>{{guest.bookingId}}</td>
                        <td *ngIf="(guest.bookingStatus=='0' || guest.bookingStatus=='7')">
                            <select class="form-control"  #selectGuest (change)='onOptionsSelected(selectGuest.value)' >
                                <option value="">Select Guest</option>
                                <option *ngFor="let userContact of userContacts "  [selected]="guest.contactId == userContact.id ? true : null" value="{{userContact.id}}" >{{userContact.name}}</option>
                            </select>
                        </td>
                        <td>{{guest.bedTypeName}}</td>
                        <td >
                            <button *ngIf="(guest.bookingStatus=='0' || guest.bookingStatus=='7')" type="button" (click)="attachtobooking(guest)" class="btn btn-primary mr-1">Attach to Booking</button>
                            <button *ngIf="guest.bookingStatus=='0' || guest.bookingStatus=='7'" type="button" (click)="cancelBooking(guest)" class="btn btn-primary">Cancel Booking</button>
                        </td>
                        
                       
                    </tr>
                </tbody>

                <tbody *ngIf="!canaddguest">
                    <tr *ngFor="let guest of guests; index as i">
                        <td>097645324453-{{i+1}}</td>
                        <td>{{guest.name}}</td>
                        <td>{{guest.bedNumber}}</td>
                        <td>{{guest.bedTypeName}}</td>
                    </tr>
                </tbody>

            </table>
            <div *ngIf="guests.length==0" class="text-center">
                <h2 class="my-1 text-muted">No Guest Present.</h2>
            </div>
        </div> -->
        <!-- <div *ngIf="canaddguest" class="add_more text-right">
            <a href="#" data-toggle="modal" data-target="#createguest"><i class="plus_icon">+</i> Add More Guest</a>
        </div> -->
    </div>
</div>

<app-addguest></app-addguest>
