<div class="container-fluid pt-5">
    <div class="container" >
        <div class="row" >
        <div class="col-6 text-right">
            <div class=" btnpostion">
                <button class="btn btn-primary" type="button"  (click)="goback()" color="primary" > Back</button>
            </div>
        </div>
        <div class="col-6 text-left">
            <div class=" btnpostion">
                <button  class="btn btn-primary" type="button"  (click)="gohome()"  color="primary" > Home</button>
            </div>
        </div>
        </div>
    </div>
</div>
