<footer class="footer line-animation scroll-reveal position-relative">
  <div class="footer--top footertop-new ">
    <div class="container wdth-mx">
      <div class="row">
        <div class="col-md-8 position-relative">
          <ul class="list-unstyled row mb-0">
            <li class="col-md-4">
              <h5 class="color-white mb-2">Oxfordcaps </h5>
              <ul class="list-unstyled footer-nav footer-nav-new">
                <li> <a [routerLink]="['/']" >About Us</a></li>
                <!-- <li> <a [routerLink]="['/']" >Why Oxfordcaps </a> </li> -->
                <li> <a [routerLink]="['/']" >Media</a> </li>
                <li> <a [routerLink]="['/']" >Blog</a> </li>
                <!--<li><a target="blank" href="http://oxfordcaps.sg">Oxfordcaps Singapore</a></li>-->
              </ul>
            </li>
            <li class="col-md-4">
              <h5 class="color-white mb-2">Join Us</h5>
              <ul class="list-unstyled footer-nav footer-nav-new">
                <li>
                  <a [routerLink]="['/']" >Lease your Property</a>
                </li>
                <li>
                  <a [routerLink]="['/']" >Careers</a>
                </li>
                <li>
              </ul>
            </li>
            <li class="col-md-4">
              <h5 class="color-white mb-2">Get in Touch</h5>
              <ul class="list-unstyled footer-nav footer-nav-new">
                <li>
                  <!-- <a [routerLink]="['/']" >Leave a Query</a> -->
                  <a [routerLink]="['/']" >Contact Us</a>
                </li>
                <li>
                  <a [routerLink]="['/']" >FAQs</a>
                </li>
              </ul>
            </li>
          </ul>
          <span class="right-line"></span>
        </div>
        <div class="col-md-4 px-2 text-right social-responsive">
          <ul class="px-0 d-flex call-us-f justify-content-end">
            <!-- justify-content-end-->
            <li class="color-white mb-4">
              <a href="https://www.youtube.com/channel/UCAF-JeY2XRSR-tMHfDhMA1g" target="_blank">
                <img src="../../../../assets/customimage/youtube.png" alt="yt-icon">
              </a>
            </li>
            <li class="color-white mb-4">
              <a href="https://www.facebook.com/oxfordcaps/" target="_blank">
                <img src="../../../../assets/images/fb.png" alt="fb-icon">
              </a>
            </li>
            <li class="color-white mb-4">
              <a href="https://www.instagram.com/oxford_caps/" target="_blank">
                <img src="../../../../assets/images/inst.png" alt="instagram-icon">
              </a>
            </li>
            <li class="color-white mb-4">
              <a href="https://www.linkedin.com/company/oxfordcaps/"  target="_blank">
                <img src="../../../../assets/images/in.png" alt="linkdn-icon">
              </a>
            </li>
          </ul>
          <div class=" mt-3 foot-dial foot-dial-new">
            <span><img src="../../../../assets/images/ring-1.png" class="pr-2"></span>
            <span><a href="tel:+917009007227">+91 7009007227</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="footer--bottom footer--bottom-new">
  <div class="container wdth-mx">
    <div class="d-flex flex-wrap align-items-center">
      <div class="mr-5 w-12">
        <a [routerLink]="['/']">
          <img src="../../../../assets/images/abuzzOC_logo_white.png" alt="logo" class="img-fluid">
        </a>
      </div>
      <span class="copyright text-small px-2"></span>

      <ul class="ml-auto list-unstyled social-icons d-inline-flex mb-0   py-1 icons">
        <li>
          <label class="ft-nd">&copy; 2021 Abuzz Oxfordcaps.</label>
        </li>
        <li>
          <label class="ft-nd">All Rights Reserved</label>
        </li>
        <li>
          <a class="underline" [routerLink]="['/']" >Privacy Policy</a>
        </li>
        <li>
          <a class="underline" [routerLink]="['/']" >Terms & Conditions</a>
        </li>
      </ul>
    </div>
  </div>
</div>
